<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>ふとっちょか、マッチョか。</title>

  <link
    rel="stylesheet"
    href="/static/css/common.css"
  >

  <link
    rel="stylesheet"
    href="/static/css/index.css"
  >
</head>

<body>
  <main class="screen">
    <p class="label">
      偏見測定クイズ
    </p>

    <h1>
      ふとっちょか、<br>
      マッチョか。
    </h1>

    <p>
      生活習慣だけを見て、<br>
      架空人物の正体を見抜こう。
    </p>

    <a class="button" href="/start">
      クイズを始める
    </a>
  </main>
</body>
</html>