<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>クイズ画面</title>

  <link
    rel="stylesheet"
    href="/static/css/common.css"
  >

  <link
    rel="stylesheet"
    href="/static/css/quiz.css"
  >
</head>

<body>
  <main class="screen">
    <p class="label">
      QUESTION 01
    </p>

    <h1>
      クイズ画面
    </h1>

    <p>
      ここに問題文が表示されます。
    </p>

    <form action="/answer" method="POST">

      <button
          type="submit"
          name="answer"
          value="ふとっちょ">
          ふとっちょ
      </button>

      <button
          type="submit"
          name="answer"
          value="マッチョ">
          マッチョ
      </button>

    </form>
  </main>
</body>
</html>